

.y-scroll{
    overflow-y: scroll;
}

.text-glow-light{
    text-shadow: white 0 0 0.2rem;
}

.box-shadow{
    box-shadow: black 0 0 1rem;
}

.warning-underline {
    position: relative;
}

.warning-underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #ffc107; /* Warning color (adjust as needed) */
}